.card {
    width: 300px;
    border: 2px solid slateblue;
    margin-bottom: 10px;
    padding: 20px 20px 20px 20px;

}

.card-title {
    font-weight: bolder;
    font-size: smaller;
}

.card-subtitle {
    font-weight: bold;
    font-size: smaller;
}

.card-img {
    width: 50px;
    height: 100px;
    display: block;
    float: left;
}

.title-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}